@{
    ViewBag.Title = "Valid Combination General Ledger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.tabs.css")">
    <!-- Additional IE/Win specific style sheet (Conditional Comments) -->
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.tabs-ie.css")">
        <![endif]-->
}
@section Scripts {

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput-1.2.2.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/tools.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/validcombinationgl.js")"></script>
}

<div id="container_posting" style="margin: 10px;">
    <div id="posting" class="easyui-panel" style="text-align: left;"
            data-options="modal:true" title="@ViewBag.Title">

        <div id="posting_form_toolbar" class="form_toolbar">
            <a id="validcombination_form_btn_reload" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">Reload</a>
            <a id="validcombination_form_btn_print" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-print'">Print</a>

        </div>

        <div id="postingdetail_content" style="overflow: auto;">
            <form id="frmor">
                <div style="display: inline-block; padding: 5px 10px" id="shipmentorder_content">
                    <div class="easyui-panel" style="width: auto !important; border: none !important;">
                        <table width="100%" border="0">
                            <tr>
                                <td>
                                    <table id="table_detail" class="scroll" cellpadding="0" cellspacing="0"></table>
                                    <div id="pager_list_detail" class="scroll" style="text-align: center;"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>Begin Period
                                            </td>
                                            <td>
                                                <input name="txtbeginperiod" type="text" id="txtbeginperiod" size="10" maxlength="20" disabled="disabled" />
                                            </td>
                                            <td>Year Begin Period
                                            </td>
                                            <td>
                                                <input name="textyearbeginperiod" type="text" id="textyearbeginperiod" size="10" maxlength="20" disabled="disabled" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Begin Period Date Closing
                                            </td>
                                            <td>
                                                <input name="txtbeginperioddateclosing" type="text" id="txtbeginperioddateclosing" size="10" maxlength="20" disabled="disabled" />
                                            </td>
                                            <td>End Period Date Closing
                                            </td>
                                            <td>
                                                <input name="txtendperioddateclosing" type="text" id="txtendperioddateclosing" size="10" maxlength="20" disabled="disabled" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Account Code</td>
                                            <td>
                                                <input name="txtaccountcode" type="text" id="txtaccountcode" size="10" maxlength="20" disabled="disabled" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td colspan="3">
                                                <input name="txtaccountname" type="text" id="txtaccountname" size="50" maxlength="50" disabled="disabled" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <fieldset>
                                                    <legend>Beginning Balance</legend>
                                                    <table>
                                                        <tr>
                                                            <td>Debit USD
                                                            </td>
                                                            <td>
                                                                <input name="txtdebitusd" type="text" id="txtdebitusd" size="10" maxlength="20" disabled="disabled" />
                                                            </td>
                                                            <td>Credit USD
                                                            </td>
                                                            <td>
                                                                <input name="txtcreditusd" type="text" id="txtcreditusd" size="10" maxlength="20" disabled="disabled" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>In IDR
                                                            </td>
                                                            <td>
                                                                <input name="txtdebitinidr" type="text" id="txtdebitinidr" size="10" maxlength="20" disabled="disabled" />
                                                            </td>
                                                            <td>In IDR
                                                            </td>
                                                            <td>
                                                                <input name="txtcreditinidr" type="text" id="txtcreditinidr" size="10" maxlength="20" disabled="disabled" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Debit IDR
                                                            </td>
                                                            <td>
                                                                <input name="txtdebitidr" type="text" id="txtdebitidr" size="10" maxlength="20" disabled="disabled" />
                                                            </td>
                                                            <td>Credit IDR
                                                            </td>
                                                            <td>
                                                                <input name="txtcreditidr" type="text" id="txtcreditidr" size="10" maxlength="20" disabled="disabled" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Debit In IDR
                                                            </td>
                                                            <td>
                                                                <input name="txttotaldebitinidr" type="text" id="txttotaldebitinidr" size="10" maxlength="20" disabled="disabled" />
                                                            </td>
                                                            <td>Total Credit In IDR
                                                            </td>
                                                            <td>
                                                                <input name="txttotalcreditinidr" type="text" id="txttotalcreditinidr" size="10" maxlength="20" disabled="disabled" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </fieldset>
                                            </td>
                                        </tr>
                                    </table>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

