@{
    ViewBag.Title = "Valid Combination Cash Advance Regional List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.tabs.css")">
    <!-- Additional IE/Win specific style sheet (Conditional Comments) -->
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.tabs-ie.css")">
        <![endif]-->
}
@section Scripts {

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput-1.2.2.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/tools.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/validcombinationcashadvanceregional.js")"></script>
}

<div id="container_validcombinationcashadvanceregional" style="margin: 10px;">
    <div id="validcombinationcashadvanceregional" class="easyui-panel" style="text-align: left;"
            data-options="modal:true" title="@ViewBag.Title">

        <div id="validcombinationcashadvanceregional_form_toolbar" class="form_toolbar">
            <a id="validcombinationcashadvanceregional_form_btn_reload" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">Reload</a>
        </div>

        <div id="list_validcombinationcashadvanceregional_content" style="overflow: auto;">
            <form id="frmor">
                <div style="display: inline-block; padding: 5px 10px" id="shipmentorder_content">
                    <div class="easyui-panel" style="width: auto !important; border: none !important;">
                        <div id="validcombinationcashadvanceregional_panel">
                            <table id="list_validcombinationcashadvanceregional" class="scroll list_master" cellpadding="0" cellspacing="0"></table>
                            <div id="pager_list_validcombinationcashadvanceregional" class="scroll" style="text-align: center;"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
