@{
    ViewBag.Title = "Valid Combination Cash Company List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.tabs.css")">
    <!-- Additional IE/Win specific style sheet (Conditional Comments) -->
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.tabs-ie.css")">
        <![endif]-->
}
@section Scripts {

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput-1.2.2.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/tools.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/validcombinationcashcompany.js")"></script>
}

<div id="ua_panel" class="easyui-panel" style="text-align: left;" data-options="modal:true" title=".: Valid Combination Cash :.">
    <div id="validcombinationcashcompany_form_toolbar" class="form_toolbar">
        <a id="validcombinationcashcompany_form_btn_reload" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">Reload</a>
        <a id="validcombinationcashcompany_form_btn_add" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Add New</a>
    </div>

    <div id="validcombinationcashcompany_panel">
        <table id="list_validcombinationcashcompany" class="scroll list_master" cellpadding="0" cellspacing="0"></table>
        <div id="pager_list_validcombinationcashcompany" class="scroll" style="text-align: center;"></div>
    </div>


    <!-- Dialog Valid Combination Bank Regional Detail -->
    <div id="lookup_div_validcombinationcashcompany_detail" class="easyui-dialog" title="Valid Combination Cash Company Detail" style="padding: 0px 5px; height: 250px; width: 550px;"
        data-options="iconCls:'icon-tip',modal:true">
        <div id="lookup_toolbar_validcombinationcashcompany_detail" class="grid_toolbar">
            <a id="lookup_btn_add_validcombinationcashcompany_detail" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Save</a>
            <a id="lookup_btn_cancel_validcombinationcashcompany_detail" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>
        <table>
            <tr>
                <td>Account Code
                </td>
                <td>
                    <input name="txtaccountcode" type="text" id="txtaccountcode" size="10" maxlength="20" disabled="disabled" />
                    <input type="button" name="btncoa" id="btncoa" style="cursor: pointer;"
                        class="ui-corner-all ui-state-default" value="..." />
                <td>
                    <input name="txtaccountname" type="text" id="txtaccountname" size="35" maxlength="20" disabled="disabled" /></td>
            </tr>
            <tr>
                <td>Date</td>
                <td colspan="2">
                    <input id="txtdate" type="text" size="10" maxlength="20" class="editable easyui-datebox textright" title="mm/dd/yyyy" value="@DateTime.Today.ToShortDateString()" />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <fieldset>
                        <legend>Balance</legend>
                        <table>
                            <tr>
                                <td>Beginning Balance USD</td>
                                <td>
                                    <input id="txtbeginningbalanceusd" class="textright easyui-numberbox" size="15" data-options="precision:2,groupSeparator:','" type="text"
                                        value="0" />
                                </td>
                            </tr>
                            <tr>
                                <td>Beginning Balance IDR</td>
                                <td>
                                    <input id="txtbeginningbalanceidr" class="textright easyui-numberbox" size="15" data-options="precision:2,groupSeparator:','" type="text"
                                        value="0" />
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
        </table>

    </div>

    <!-- END Dialog Valid Combination Bank Company Detail -->

    <!-- Look Up COA -->
    <div id="lookup_mstcoa_div" class="easyui-dialog" style="padding-left: 5px; width: 530px; height: 480px;"
        title="Master Data COA" data-options="modal:true">

        <div class="form_toolbar">
            <a id="mstcoa_lookup_add" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="mstcoa_lookup_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_mstcoa" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="pager_lookup_mstcoa" class="scroll" style="text-align: center;"></div>
    </div>
    <!-- END Look Up COA -->

</div>
